/* layout.component.css */
.layout {
    position: relative;
    width: 90%;
    height: 86vh;
    margin: 20px auto;

    &::before {
        content: "";
        position: absolute;
        top: 20px;
        left: 20px;
        right: 3px;
        bottom: -20px;
        border: 1.8px solid rgb(220, 220, 220);
        pointer-events: none; //
        z-index: -3;
        height: 100%;
        width: calc(100% - 30px);
    }
}

app-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 100%;
    z-index: -1;
}

.content-box {
    position: relative;
    width: 75%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
}