.project-detail {
    padding: 5rem;
    background: rgb(0 0 0 / 52%);
    position: relative;
    height: calc(100% - 10rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    // border: 1px solid #ffffff4e;

    .title-description {
        position: relative;
        top: 4rem;
    }

    .content-documentation {
        margin-top: 5rem;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        color: white;
        line-height: 1.5;

        ul {
            li {
                padding: 0.5rem;
            }
        }
    }

    .content-documentation::-webkit-scrollbar {
        display: none;
    }

    h1 {
        position: fixed;
        top: 96px;
        left: 56px;
    }




}