.projects {
    padding: 5rem;
    background: rgb(0 0 0 / 52%);
    position: relative;
    height: 65.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .projects-content {
        margin-top: 2rem;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        color: white;
        line-height: 1.5;
    }

    h1 {
        position: absolute;
        top: 0;
        left: -6rem
    }

    li {
        list-style-type: style;
        padding: 2rem;
    }
}