<section class="projects">
    <h1 class="ubuntu-condensed-regular">Projects</h1>
    <div class="projects-content">
        <ul>
            <li *ngFor="let project of projects; let i = index">
                <div class="project-card">
                    <div class="project-details">
                        <h3 class="ubuntu-medium ">{{ project.title }}</h3>
                        <p class="ubuntu-regular">{{ project.description }}</p>
                        <a [routerLink]="['/projects', project.id]">View Details</a>
                    </div>
                </div>
                <hr>
            </li>
        </ul>
    </div>
</section>